<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="jumbotron text-center myjumbotron">
        <h1>{{count}}</h1>
        <h5>POINTS</h5>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Fullstack</h2>
      <p>(fullstack.io)</p>
      <ul class="list-inline">
        <li (click)='buttonClickeddown()'>
          <i class="fa fa-arrow-down"></i> upvote
        </li>
        <li (click)='buttonClickedup()'>
          <i class="fa fa-arrow-up"></i> downvote
        </li>
      </ul>
    </div>
  </div>
</div>